<!DOCTYPE html>
  <html>
      <head>
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
          <link href="css.css" rel="stylesheet" type="text/css">
      </head>
      <body>
        {%if delete is empty%}
        <h1>This contact has been deleted</h1>
        {%endif%}
        <button type=button><a href="/">Add another contact</a></button>
      </body>
  </html>
