<!DOCTYPE html>
  <html>
  <head>
  </head>
  <body>
    <h1>Address Book</h1>
    <form action ="/" method="post"
      <label for="name">Enter a contact's name</label>
      <id="name" name="name" input type="text">
      <label for="address">Enter a contact's address</label>
      <id="address" name="address" input type="text">
      <label for="phone-number">Enter a contact's phone-number</label>
      <id="phone-number" name="phone-number" input type="number">
    </form>
  </body>
</html>
