<!DOCTYPE html>
  <html>
  <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="css.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">Address Book</div>
        <div class="panel panel-default">
            <div class="panel-heading" id="heading">
                <h2>Add a contact</h2>
            </div>
            <div class="panel-body">
                <form action ="/book" method="post">
                    <div class="form-group">
                        <label for="name">Enter a contact's name</label>
                        <input type="text" id="name" name="name" >
                    </div>
                    <div class="form-group">
                        <label for="address">Enter a contact's address</label>
                        <input type="text"id="address" name="address" >
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Enter a contact's phone number</label>
                        <input type="number"id="phone-number" name="phone-number">
                    </div>
                    <div class="form-group">
                        <label for="email">Enter a contact's email</label>
                        <input type="email"id="email" name="email">
                    </div>
                    <button type="submit">Add contact</button>
                </form>
            </div>
    </div>
  </body>
</html>
